@charset "UTF-8";

html,
body {
	margin: 0;
	padding: 0px;
}

img {
	vertical-align: bottom;
}

a:link,
a:visited	{text-decoration: none; color: #036;}
a:hover,
a:active,
a:focus		{text-decoration: underline; color: #333;}

h1 {
	margin: 15px;
}

h2 {
	margin: 0 15px;
}

h3 {
	margin: 15px;
	font-weight: normal;
}

p {
	margin: 5px 15px;
}

img
{
	border: none;
	vertical-align: bottom;
}

fieldset {
	margin: 15px;
	padding: 10px;
}

legend {
	font-weight: bold;
}

select {
	min-width: 150px;
}

table {
	border-spacing: 0;
}

td {
	padding: 5px;
}

.warning {
	color: #F00;
}

.notification {
	color: #247024;
}

#form-logout {
	position: absolute;
	top: 15px;
	right: 15px;
}
